@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../public/images/bg1.jpg');
    background-size: contain;
    font-family: 'Press Start 2P';
    overflow: hidden;
}

.cell{
    width: auto;
}

.stage{
    grid-gap: 1px;
    border: 2px solid #333;
    width: 100%;
    max-width: 25vw;
    background-color: #111;
}

.wrapper{
    display: flex;
    align-items: flex-start;
    padding: 40px;
    margin: 0 auto;
    max-width: 900px;
}

aside{
    width: 100%;
    max-width: 200px;
    display: block;
    padding: 0 20px;
}

.field{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 20px;
    border: 4px solid #333;
    min-height: 30px;
    width: 100%;
    border-radius: 20px;
    background-color: #000;
}

.start{
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 20px;
    min-height: 30px;
    width: 100%;
    border-radius: 20px;
    border: none;
    color: white;
    background: #333;
    font-size: 1rem;
    outline: none;
}

.HowToPlay{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('../public/images/question.png');
    background-position: center ;
    background-size: cover;
}

.close{
    background-image: url('../public/images/close.png');
    background-position: center ;
    background-size: cover;
}